.game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 1fr;
  gap: 1rem;
  border: 2px solid red;
  min-height: 100vh;
  padding: 1rem;
}


.game__countdown {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid orange;
}

.game__matrix {
  grid-column: 1;
  grid-row: 2;
  border: 2px solid purple;
}

.game__buffer {
  grid-column: 2;
  grid-row: 1;
  border: 2px solid cyan;
}

.game__sequences {
  grid-column: 2;
  grid-row: 2;
  border: 2px solid yellow;
}

